{% extends "base.html" %}
{% block title %}API v1 Help{% endblock %}
{% block content %}
<h1>API Information <span class="mx-5 fs-4 bg-info px-2">/api/v1/</span></h1>
    <div class="row">
	  <div class="ms-3 fs-5 my-4">
	    BeatLog has an JSON API endpoint for various stats from the past 24 hours: 
		<p class="text-center fs-5 mt-3"><span class="bg-info ps-2">{{ url_for('api_v1.api_v1', api_spec='', _external=True) }}<b class="text-primary">[OPTION]</b></span></p>
	    The available options are listed and linked below. The returned data can be previewed on this page by clicking the buttons. <b class="bg-info rounded px-2 pb-1 fs-6">+</b>
	  </div>
	</div>
  <form method="POST" action="{{ url_for('api_v1.api_help') }}"> 
  <div class="row row-cols-md-2 row-cols-xl-3">
	{% for spec in specs.keys() %}
	<div class="col">
	  <h3 class="ms-5 my-2">/<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1', api_spec=spec)}}">{{spec}}</a>	    
	  </h3>
	    <div class="bg-dark text-warning p-3"><pre><code>		  
		    <button type="submit" class="btn btn-sm btn-info me-5 fw-bold rounded" name="load_example" value="{{spec}}" title="Load Example" style="float:right"
			data-bs-toggle="tooltip">+</button>
		  <p class="text-info text-center">{{url_for('api_v1.api_v1',_external=True, api_spec=spec)}}</p>
		  {% if specs[spec] %}<br>{{ specs[spec] }}{% endif %}
		</code></pre></div>
	</div>
    {% endfor %}
	<div class="col">
	  <h3 class="ms-5 my-2">/<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1',_external=True,api_spec=all)}}">all</a></h3>
	    <div class="bg-dark text-warning p-3"><pre><code>
		  <p class="text-info text-center">{{url_for('api_v1.api_v1',_external=True, api_spec='all')}}</p>
		  <br>All results combined into one.<br>All data is gathered with the same start and stop times.
		</code></pre></div>
	</div>
  </div></form>
  <hr>
  <div class="row mt-5 ms-5 fs-5">
    <ul>Other Ideas - possible options to add in future. <a class="mx-3" href="https://github.com/NBPub/BeatLog/issues/new">Submit your own</a>
	  <li class="mt-3"><b class="me-3">/check/parsing</b> show time difference between last modified and last parsed for each log</li>
	  <li><b class="me-3">/check/fail2ban</b> update fail2ban jail if changed or return that it's up to date</li>
	  <li><b class="me-3">/check/geo</b> count of unnamed locations and locations without an associated IP address</li>
	  <li><b class="me-3">/parse/[LOG]</b> parse log if modified since last parse</li>
	  <li>Provide time specification for above existing options, up to 1 week? 24-168 hours</li>
	</ul>
  </div>

{% endblock %}

{% block script_additions %}
	<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
{% endblock %}