{% extends "base.html" %}
{% block title %}API v1 Help{% endblock %}
{% block content %}
<h1>API Information <span class="mx-5 fs-4 bg-info px-2">/api/v1/</span></h1>
    <div class="row my-5 ms-5">
	  <div class="col fs-5">
        <p class="me-5">BeatLog contains a simple JSON API. This page describes the available query parameters. More options may be in development.
		See the <a href="https://github.com/NBPub/BeatLog/blob/main/docs/API.md#simple-json-api">documentation</a> for more details.</p>
	  </div>
	  <div class="col fs-5 fw-bold"><ul>Page Contents
	    <li><a href="#summary">Data Summary</a></li>
		<li><a href="#summary">Bandwidth</a></li>
		<li><a href="#summary">Up Next?</a></li>
	  </ul></div>
	</div>
	
<hr class="my-3">
<!-- SUMMARY -->
  <h3 class="ms-5" id="summary">Data Summary
	<span class="bg-info px-2 ms-5 fs-5">{{ url_for('api_v1.api_v1', api_spec='', _external=True) }}<b class="text-primary">[OPTION]</b></span>
  </h3>	  
    <div class="fs-5 my-4">
	  <b>"Summary"</b> provides various stats from the past 24 hours.		
	  The available options are listed and linked below. The returned data can be previewed on this page by clicking the buttons. 
	  <b class="bg-info rounded px-2 pb-1 fs-6">+</b>
    </div>
    <form method="POST" action="{{ url_for('api_v1.api_help') }}" class="container-fluid"> 
	  <div class="row row-cols-md-2 row-cols-xl-3">
		{% for spec in specs.keys() %}
		<div class="col">
		  <h3 class="my-2">&nbsp;&nbsp;...<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1', api_spec=spec)}}">/summary/{{spec}}</a>	    
		  </h3>
			<div class="bg-dark text-warning p-3"><pre><code>		  
				<button type="submit" class="btn btn-sm btn-info me-5 fw-bold rounded" name="load_example" value="{{spec}}" title="Load Example" style="float:right"
				data-bs-toggle="tooltip">+</button>
			  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1',_external=True, api_spec=spec)}}</span>
			  {% if specs[spec] %}<br>{{ specs[spec] }}{% endif %}
			</code></pre></div>
		</div>
		{% endfor %}

		<div class="col">
		  <h3 class="ms-5 my-2">...<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1',api_spec='all')}}">/summary/all</a></h3>
			<div class="bg-dark text-warning p-3"><pre><code>
			  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1',_external=True, api_spec='all')}}</span>
			  <br>All results combined into one.<br>All data is gathered with the same start and stop times.
			</code></pre></div>
		</div>
	  </div>
    </form>
	
<hr class="my-3">
<!-- BANDWIDTH -->  
  <h3 class="ms-5" id="bandwidth">Bandwidth
	<span class="bg-info px-2 ms-5 fs-5">{{ url_for('api_v1.api_v1_bandwidth', api_spec='', _external=True) }}<b class="text-primary">[OPTION]</b></span>
  </h3>	  
    <div class="fs-5 my-4">
	  <b>"Bandwidth"</b> returns the total data transfered from <b>Access Log</b> hits.		
	  An option must be specified to filter the data. Specify a valid "field" and a "value" to match for the field.
	  <br>See the <a href="{{url_for('api_v1.api_v1_bandwidth', api_spec='http=10')}}">example</a> below for a valid 
	  <b class="text-primary">[OPTION]</b> and to see the structure of returned data.
    </div>  
	<div class="bg-dark text-warning p-3"><pre><code>
	  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1_bandwidth',_external=True, api_spec='')}}http=10</span>
{
  "bandwidth": {
    "bytes": 251967,
    "hits": 829,
    "data_per_hit": "303 bytes",
    "data": "246 kB",
    "query": {
      "field": "http",
      "value": "10"
    }
  }
}
	</code></pre></div>  
<hr>
<!-- Other Ideas -->  
  <h3 class="ms-5" id="ideas">Up Next?</h3>
	<ul class="fs-5 mb-5">Other Ideas - possible options to add in future. <a class="mx-3" href="https://github.com/NBPub/BeatLog/issues/new">Submit your own</a>
	  <li class="mt-3">Provide time specification for summary options, up to 1 week? 24-168 hours</li>
	  <li><b class="me-3">/check/parsing</b> show time difference between last modified and last parsed for each log</li>
	  <li><b class="me-3">/check/fail2ban</b> update fail2ban jail if changed or return that it's up to date</li>
	  <li><b class="me-3">/check/geo</b> count of unnamed locations and locations without an associated IP address</li>
	  <li><b class="me-3">/parse/[LOG]</b> parse log if modified since last parse</li>
	</ul>
{% endblock %}

{% block script_additions %}
	<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
{% endblock %}