{% extends "base.html" %}
{% block title %}API v1 Help{% endblock %}
{% block content %}
<h1>API Information <span class="mx-5 fs-4 bg-info-subtle border border-info-subtle rounded text-primary px-2">/api/v1/</span></h1>
    <div class="row my-5 ms-5">
	  <div class="col fs-5">
        <p class="me-5">BeatLog contains a simple JSON API. This page describes the available query parameters. More options may be in development.
		See the <a href="http://holipi:5001/api/help/">documentation</a> for more details.</p>
	  </div>
	  <div class="col fs-5 fw-bold"><ul>Page Contents
	    <li><a href="#summary">Data Summary</a></li>
		<li><a href="#bandwidth">Bandwidth</a></li>
		<li><a href="#pkg">Python Packages</a></li>
		<li><a href="#ideas">Up Next?</a></li>
	  </ul></div>
	</div>
	
<hr class="mt-5 border-3">
<!-- SUMMARY -->
  <h3 class="ms-5" id="summary">Data Summary
	<span class="bg-info-subtle border border-info-subtle rounded text-primary px-2 ms-5 fs-5">
	  {{ url_for('api_v1.api_v1_summary', api_spec='', _external=True) }}<b>&lt;OPTION&gt;</b>
	</span>
  </h3>	  
    <div class="fs-5 my-4 mx-2">
	  <b>"Summary"</b> provides various statistics from the past 24 hours.		
	  The available options are listed and linked below. The returned data can be previewed on this page by clicking the buttons. 
	  <b class="bg-info rounded px-2 pb-1 fs-6">+</b>
    </div>
    <form method="POST" action="{{ url_for('api_v1.api_help') }}"> 
	  <div class="row row-cols-md-2 row-cols-xl-3">
		{% for spec in specs.keys() %}
		<div class="col">
		  <h3 class="my-2">&nbsp;&nbsp;...<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1_summary', api_spec=spec)}}">/summary/{{spec}}</a>	    
		  </h3>
			<div class="bg-dark text-warning p-3"><pre><code>		  
				<button type="submit" class="btn btn-sm btn-info me-5 fw-bold rounded" name="load_example" value="{{spec}}" title="Load Example" style="float:right"
				data-bs-toggle="tooltip">+</button>
			  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1_summary',_external=True, api_spec=spec)}}</span>
			  {% if specs[spec] %}<br>{{ specs[spec] }}{% endif %}
			</code></pre></div>
		</div>
		{% endfor %}

		<div class="col">
		  <h3 class="ms-5 my-2">...<a class="fs-3 fw-bold" href="{{url_for('api_v1.api_v1_summary',api_spec='all')}}">/summary/all</a></h3>
			<div class="bg-dark text-warning p-3"><pre><code>
			  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1_summary',_external=True, api_spec='all')}}</span>
			  <br>All results combined into one.<br>All data is gathered with the same start and stop times.
			</code></pre></div>
		</div>
	  </div>
    </form>
	
<hr class="mt-5 border-3">
<!-- BANDWIDTH -->  
  <h3 class="ms-5" id="bandwidth">Bandwidth
	<span class="bg-info-subtle border border-info-subtle rounded text-primary px-2 ms-5 fs-5">
	  {{ url_for('api_v1.api_v1_bandwidth', api_spec='', _external=True) }}<b class="text-primary">&lt;OPTION&gt;</b>
	</span>
  </h3>	  
    <div class="fs-5 my-4 mx-2">
	  <b>"Bandwidth"</b> returns data transfer statistics from the <b>Access Log</b>.		
	  A date range can be specified to limit results, and one FIELD / VALUE pair must be specified.
	  <br>A call is linked below the syntax guide to provide an example of a valid option.
	  <b class="bg-info rounded px-2 pb-1 fs-6">+</b> will load the return on this page.	  
	  <p class="fs-6 mx-4 my-5"> 
	    • <b>Date syntax:</b> <span class="bg-success-subtle px-1 fw-bold">date=&lt;START&gt;-&lt;END&gt;,</span> where 
		&lt;START&gt; and &lt;END&gt; are <a href="https://unixtime.org/">UNIX timestamps</a>, separated by a dash 
		<span class="bg-success-subtle px-1 fw-bold">-</span>.
		If date is specified, a comma <span class="bg-success-subtle px-1 fw-bold">,</span> is used to 
		separate it from field specification and date specification must come first.<br>
	    <br>
		• <b>Field / Value syntax:</b> <span class="bg-success-subtle px-1 fw-bold">&lt;FIELD&gt;=&lt;VALUE&gt;</span>, 
		where &lt;FIELD&gt; is a valid column in the Access Log database table. &lt;VALUE&gt; can be anything to match to the field.
		For certain text fields, pattern matching can be utilized with a <span class="bg-success-subtle px-1 fw-bold">%</span>
		as shown in the example call. See the <a href="http://holipi:5001/api/help/">API Documentation</a>  
		for help using <a href="https://www.postgresql.org/docs/current/functions-matching.html">PostgreSQL</a> pattern matching and more guidance.
	  </p>
    </div>  
  <form method="POST" action="{{ url_for('api_v1.api_help', _anchor='bandwidth') }}"> 
	<span class="ms-5 my-2">...<a class="fs-5 fw-bold" href="{{url_for('api_v1.api_v1_bandwidth',api_spec=ex_bandwidth)}}">/{{ex_bandwidth}}</a></span>
	<div class="bg-dark text-warning p-3"><pre><code>
	  <button type="submit" class="btn btn-sm btn-info me-5 fw-bold rounded" name="load_example" value="bandwidth" 
	  title="Load Example" style="float:right" data-bs-toggle="tooltip">+</button>	
	  <span class="text-info" style="float:left;">{{url_for('api_v1.api_v1_bandwidth',_external=True, api_spec='')}}{{ex_bandwidth}}</span>	  
	  {% if ex_return %}<br>{{ ex_return }}{% endif %}	  
	</code></pre></div>
  </form>
  <div class="my-4 mx-1">
    <em>Note:</em> The following <b>Data Summary API</b> and <b>Bandwidth API</b> calls provided equivalent "data" returns when this page was loaded</em>
	<div class="text-muted row mt-3 fw-bold"><div class="col ms-5">
	  .../summary/home<br><br>.../summary/outside
	</div><div class="col me-5">
	  .../{{ ex_bandwidth[0:27] }}home=True<br><br>.../{{ ex_bandwidth[0:27] }}home=False
	</div></div>
  </div>

<hr class="mt-5 border-3">
<!-- PYTHON PACKAGES -->  
  <h3 class="ms-5" id="pkg">Python Packages
	<span class="bg-info-subtle border border-info-subtle rounded text-primary px-2 ms-5 fs-5">
	  {{ url_for('api_v1.api_v1_pkgs', _external=True) }}
	</span>
  </h3>	
    <div class="fs-5 my-4 mx-2">
	  <b>"Python"</b> lists packages found by <a href="https://docs.python.org/3/library/pkgutil.html#pkgutil.iter_modules">pkgutil</a> iter_modules
	  and version info, if available, from <a href="https://docs.python.org/3/library/importlib.metadata.html#overview">importlib.metadata</a>. 
	  Otherwise version will be <em>null</em>. This information may be more accurate than the 
	  <a href="https://github.com/NBPub/BeatLog/blob/main/requirements.txt">requirements.txt</a> list in the repository. 
    </div>  
	<span class="ms-5 my-2">...<a class="fs-5 fw-bold" href="{{url_for('api_v1.api_v1_pkgs')}}">{{url_for('api_v1.api_v1_pkgs')}}</a></span>
	<div class="bg-dark text-warning p-3"><pre><code>
	  <span class="text-info" style="float:left;">{{ url_for('api_v1.api_v1_pkgs', _external=True) }}</span>
	  <br>{<br>&nbsp;&nbsp; . . .<br>&nbsp;&nbsp;"package-name":"version-number"<br>&nbsp;&nbsp;"other-package":null<br>&nbsp;&nbsp; . . .<br>}
	</code></pre></div>
	<div class="fs-5 my-4 mx-2">
	  Note that the <b>BeatLog, Python,</b> and <b>PostgreSQL</b> release information is displayed on the home 
	  <a href="{{ url_for('home.home') }}">page</a>, and in more detail on the data cleaning <a href="{{ url_for('home.data_clean') }}">page</a>, footers.	  
	</div>

<hr class="mt-5 border-3">
<!-- Other Ideas -->  
  <h3 class="ms-5" id="ideas">Up Next?</h3>
	<ul class="fs-5 mb-5">Other Ideas - possible options to add in future. <a class="mx-3" href="https://github.com/NBPub/BeatLog/issues/new">Submit your own</a>
	  <li class="mt-3">Provide time specification for summary options, up to 1 week? 24-168 hours</li>
	  <li><b class="me-3">/check/parsing</b> show time difference between last modified and last parsed for each log</li>
	  <li><b class="me-3">/check/fail2ban</b> update fail2ban jail if changed or return that it's up to date</li>
	  <li><b class="me-3">/check/geo</b> count of unnamed locations and locations without an associated IP address</li>
	  <li><b class="me-3">/parse/[LOG]</b> parse log if modified since last parse</li>
	</ul>
{% endblock %}

{% block script_additions %}
	<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
{% endblock %}