{% extends "base.html" %}
{% block title %}BeatLog - 404{% endblock %}

{% block content %}
<h1 class="mt-3 text-danger">&#127812; &#128018; Invalid URL</h1>
  <div class="d-flex justify-content-center">
	<img class="rounded" src="https://i.giphy.com/media/UHAYP0FxJOmFBuOiC2/giphy.webp" alt="404">		
  </div>
  <p class=" text-center"><a href="https://jijidraws.shop/" class="fst-italic text-muted">Artist Page</a></p>	  
  <div class="bg-dark p-3 rounded my-3">
	<p class="fs-5 ms-3 text-info">{{ e.description }}</p>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items center border-top mt-5" style="font-size:10pt;position:relative;float:bottom;">
	<p class="text-muted fw-bold justify-content-start ms-3 mt-2">BeatLog <em class="fw-normal ms-2">alpha-0.1.6</em></p>
	<a class="link-secondary text-underline fw-bold justify-content-center mt-2" href="https://github.com/NBPub/BeatLog">Source Code - GPLv3</a>	  
   <img src="/static/greycon.png" class="justify-content-end mt-2" style="height:24px;"/>
  </footer>
{% endblock %}