{% extends "base.html" %}
{% block title %}BeatLog - 500{% endblock %}

{% block content %}
<h1 class="mt-3 text-danger">&#127812; &#128018;</h1>
  <div class="d-flex justify-content-center">
	<img class="rounded" src="https://i.giphy.com/media/14aUO0Mf7dWDXW/giphy.webp" alt="500">		
  </div> 
  <div class="bg-dark p-3 rounded my-3">
	<p class="fs-5 ms-3 text-{{ message[1] }}">{{ message[0] }}</p>
  </div>
  <p class="ms-5 mb-5 text-muted">{{ e.description }}.<br>Check container logs for more information.</p>
  <br>
  <p class="ms-5 text-muted fw-bold"><a href="https://github.com/NBPub/BeatLog/issues/new">Submit</a> logs to improve BeatLog.</a></p>
  <footer class="d-flex flex-wrap justify-content-between align-items center border-top mt-5" style="font-size:10pt;position:relative;float:bottom;">
	<p class="text-muted fw-bold justify-content-start ms-3 mt-2">BeatLog <em class="fw-normal ms-2">alpha-0.1.5</em></p>
	<a class="link-secondary text-underline fw-bold justify-content-center mt-2" href="https://github.com/NBPub/BeatLog">Source Code - GPLv3</a>	  
   <img src="/static/greycon.png" class="justify-content-end mt-2" style="height:24px;"/>
  </footer>

{% endblock %}