{% extends "base.html" %}
{% block title %}Database Cleanup{% endblock %}
{% block content %}
  <h1>Database Cleanup
    <a href="{{ url_for('db_view.db_view') }}" class="btn btn-sm btn-info me-3 mt-2 fw-bold" style="float:right;">Query Data</a>
  </h1>
    
	{% if not logs %}
	  <h3 class="text-danger m-3">No records in the database! This page is intended to delete parsed log data</h3>
	{% else %}
	  <h3 class="ms-5 mt-4">Parsed Log data
	    <a style="float:right" href="{{ url_for('geography.geography_assess') }}" class="btn btn-sm btn-warning my-2 mx-5">
		{% if noIPgeo %}Check Geography Cache: {{ noIPgeo }}{% else %}Geography Data{% endif %}</a>
	  </h3>
		<table class="table table-sm table-hover table-bordered border-primary table-striped-columns table-dark m-2">
		    {{ table|safe }}
	    </table>
		<form method="POST" action="{{ url_for('home.data_clean') }}">
		  <button type="submit" name="vacuum" class="btn btn-sm btn-info mt-3 mx-5">Vacuum Tables</button>
		</form>
		<p class="ms-2 text-muted">perform PostgreSQL <a href="https://www.postgresql.org/docs/current/sql-vacuum.html">vacuum</a> to update table data</p>
<br><hr>	
	  <h3 class="ms-5 mt-2">Delete Database Entries</h3>
	  <form method="POST" action="{{ url_for('home.data_clean') }}">
		<div class="input-group my-4">
			<label for="log_select" class="form-label mx-3 fw-bold fs-5">Log Name</label>
			<select class="form-select" id="log_select" name="log_select" required>
			  {% if disable %}
			    <option value="{% if existing[0] is string %}{{ existing[0] }}{% else %}all{% endif %}" selected>
			     {% if existing[0] is string %} {{ existing[0] }} {% else %} ALL LOGS {% endif %} 
				</option>			
			  {% else %}
			    {% for log in logs.keys() %}
				  {% if existing and log == existing[0] %}
				    <option value="{{ log }}" selected>{{ log }}</option>			
				  {% else %}
			        <option value="{{ log }}">{{ log }}</option>
				  {% endif %}
			    {% endfor %}
				<option value="all" class="fw-bold text-danger">ALL LOGS</option>
			  {% endif %}
			</select>
			<label for="start" class="form-label mx-3 fw-bold fs-5">Start</label>
			<input type="datetime-local" class="form-control" id="start" name="start" 
				   value={% if existing %}"{{existing[1]}}"{% else %}"{{prefill[0]}}"{% endif %} {% if disable %}readonly{% endif %} required>		
			<label for="stop" class="form-label mx-3 fw-bold fs-5">Stop</label>
			<input type="datetime-local" class="form-control" id="stop" name="stop" 
				   value={% if existing %}"{{existing[2]}}"{% else %}"{{prefill[1]}}"{% endif %} {% if disable %}readonly{% endif %} required>		
		</div>
		<div class="ms-2 mb-3">
		  {% if estimate %}
		    <p class="ms-3 fw-bold fst-italic text-danger">{{ estimate|safe }}</p>
		    <a href="{{ url_for('home.data_clean') }}" class="btn btn-secondary mx-5">Cancel</a>
		    <button type="submit" class="btn btn-danger mx-5 text-end" name="confirm_delete">Confirm Deletion</button>
		  {% else %}
		    <button type="submit" class="btn btn-success mx-5 text-start" name="Estimate">Estimate Deletion</button>
		  {% endif %}
		</div>
      </form> 
    {% endif %}
      {% if alert %}{% for message in alert %}
	    <div class="alert alert-{{ message[1] }} alert-dismissible fade show" role="alert">
		  {{ message[0] }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	  {% endfor %}{% endif %}
  <footer class="d-flex flex-wrap justify-content-between align-items center border-top mt-5 fw-semibold text-muted" style="font-size:10pt;position:relative;float:bottom;">
	<span class="justify-content-start">{{ versions[0] }}</span>
	<span class="justify-content-center mx-2 text-primary">║</span>
	<span class="justify-content-end">{{ versions[1] }}</span>	
  </footer>
{% endblock %}
