{% extends "base.html" %}
{% block title %}No Database{% endblock %}

{% block content %}
    <h1 class="mt-3">&#127812; &#128018; </h1>
	  <p class="fs-3 ms-3 text-danger">Error connecting to database. Ensure connection options are specifed as 
	  <a href="https://docs.docker.com/compose/environment-variables/">Environmental Variables</a>.</p>	
	  <div class="bg-dark p-3 rounded">
	    <p class="fs-5 ms-3 text-info">{{ err }}</p>
	  </div>
	<a class="btn btn-info m-3 px-3 fs-2 fw-bold" href="{{ url_for('home.home') }}">&#11156;</a>
{% endblock %}