{% extends "base.html" %}
{% block title %}Assess Geography{% endblock %}
{% block content %}
  <h1>Cached Geography Data
    {% if noname %}
	  <a href="{{ url_for('geography.geography') }}"><button type="button" class="btn btn-info btn-sm fw-bold me-3 mt-2 position-relative" style="float:right;">Name Locations
	    <span class="badge rounded-pill bg-danger px-2 position-absolute top-0 start-100 translate-middle">{{ noname }}</span></button></a>
	{% else %}
      <a href="{{ url_for('geography.geography') }}" class="btn btn-outline-info btn-sm fw-bold me-3 mt-2" style="float:right;">Name Locations</a>
	{% endif %}
  </h1>
{% if bigs or littles %}
  <h2 class="mt-4 ms-5">Top 10 Bar Charts</h2>
	<form method="POST" action="{{ url_for('geography.geography_assess') }}">	
	  <div class="btn-group"  style="display:inline-block">
		<button type="submit" class="btn btn-outline-primary fw-bold my-2" name="barchart" value="country_hits">Country Hits</button>
		<button type="submit" class="btn btn-outline-primary fw-bold my-2" name="barchart" value="country_IP">Country Visitors</button>
		<button type="submit" class="btn btn-outline-warning fw-bold my-2" name="barchart" value="city_locs">City Locations</button>		
		<button type="submit" class="btn btn-outline-primary fw-bold my-2" name="barchart" value="city_hits">City Hits</button>
		<button type="submit" class="btn btn-outline-primary fw-bold my-2" name="barchart" value="city_IP">City Visitors</button>	
	  </div>  
	</form> 
<hr>
  <div class="row">
    <h2 class="mb-3">&nbsp;&nbsp;Location Tables
	  <form method="POST" action="{{ url_for('geography.geography_assess') }}" style="display:inline-block;float:right;">
	    <button type="submit" class="btn btn-outline-dark fw-bold me-5 my-2" name="barchart" value="country_locs">Country Location Distribution</button>
	  </form>  
	</h2>
	  <div class="text-warning mb-3 bg-secondary text-center py-2 fw-bold rounded col-6" style="margin:auto">
	    Click a <span class="text-light bg-dark fw-bold p-2 rounded">button</span> below to view a location table, within which data may be edited
	  </div>
  </div>
  <div class="row">
	{% if bigs %}
	  <div class="col mx-2"><form method="POST" action="{{ url_for('geography.geography_assess') }}">
		<b>Countries with at least 5 locations</b><br />
		  {% for country, count in bigs %}
		    <button class="btn btn-dark my-2 mx-2 btn-sm" type="submit" value="{{ country }}" name="country-select">{{ country }} - {{ count }}</button>
	      {% endfor %}
	  </form></div>
	{% endif %}
	{% if littles %}
	  <div class="col mx-2"><form method="POST" action="{{ url_for('geography.geography_assess') }}">
		<b>Countries with less than 5 locations</b><br />
		  {% for countries, count in littles %}
		    <button class="btn btn-dark my-2 mx-2 btn-sm" type="submit" value="{{ count }}" name="count-select">{{ countries }} countries with {{ count }} locations [{{countries * count }}]</button>
		  {% endfor %} 
	  </form></div>
	{% endif %}
  </div>
  {% if no_IP %}
    <form method="POST" action="{{ url_for('geography.geography_assess') }}">
      <span class="text-muted fs-6" style="float:right;">View / Delete locations without associated IPs</span><br />
	  <input type="submit" class="btn btn-success fw-bold mx-3" name="clean_cache" value="Clean Cache" style="float:right;">
	  <input type="submit" class="btn btn-warning fw-bold mx-3" name="inspect" value="Inspect: {{no_IP}}" style="float:right;">
    </form>
    <a href="{{ url_for('geography.geography_map') }}" class="btn btn-info fw-bold mx-3" target="_blank" style="float:left;">Recent Visitors Map</a>
  {% else %}
    <a href="{{ url_for('geography.geography_map') }}" class="btn btn-info fw-bold mx-3" target="_blank" style="float:right;">Recent Visitors Map</a>
  {% endif %}
<br /><hr />
  {% if alert %}
    <div class="alert alert-{{ alert[1] }} alert-dismissible fade show" role="alert">
	  {{ alert[0] }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}	
  {% if geo_table %}
	<div class="row mt-5">	
      <h2 class="ms-3">Geo Table</h2>
	  <table class="table table-sm table-responsive table-hover table-bordered table-striped-columns table-dark mx-3">
	    <thead><tr>{% if not IPs %}<th scope="col">ID</th>{% else %}<th scope="col">IPs</th>{% endif %}
	    <th scope="col">Lat</th><th scope="col">Lon</th><th scope="col">MapLink</th><th scope="col">City</th><th scope="col">Country</th><th scope="col"><em>modify</em></th></tr></thead>
	    <tbody>
		  {% for id, lat, lon, link1, link2, city, country  in geo_table %}
			<form method="POST" action="{{ url_for('geography.geography_assess') }}">
			  <tr>
				{% if not IPs %}
				  <th scope="row">{{ id }}</th>
				{% else %}
				  {% if IPs[id] == 0 %}<th scope="row" class="text-danger bg-light">{% else %}<th scope="row">{% endif %}{{ IPs[id] }}</th>
				{% endif %}
				<td>{{ lat }}</td><td>{{ lon }}</td>
				<td><a href="{{ link1 }}">OSM</a>, <a href="{{ link2 }}">GM</a></td>
				<td><input class="form-control bg-secondary" type="text" name="city" value="{{ city }}"></td>
				<td><input class="form-control bg-secondary" type="text" name="country" value="{{ country }}"></td>
				<td><button type="submit" class="btn btn-success btn-sm mx-1" value="{{ id }}" name="Update">Update</button>
				<button type="submit" class="btn btn-danger btn-sm mx-1" value="{{ id }}" name="Delete">Delete</td>
			  </tr>
			</form>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
  {% endif %}
  {% if chart %}
    <div class="row mt-5">
	  {% if chart[0] == 'CountryBarChart' %}
		<div id="{{ chart[0] }}" style="width:95%;min-height:70vh;margin:auto;z-index:0;"></div>
      {% else %}
		<div id="{{ chart[0] }}" style="width:95%;height:50vh;margin:auto;z-index:0;"></div>
      {% endif %}
    </div>
  {% endif %}
{% else %}
  <p class="text-danger fs-4 fw-bold text-center mt-5">No locations saved!</p>
{% endif %}
{% endblock %}

{% if chart %}
	{% block script_additions %}
	  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	  <script type="text/javascript">
	    {{ chart[1]|safe }}  
	  </script>	  
	{% endblock %}
{% endif %}