{% extends "base.html" %}
{% block customCSS %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
{% endblock %}	
{% block title %}Visitors Map{% endblock %}

{% block content %}
  <h1>Visitor Map</h1>
  {% if geomap %}
    <span class="ms-5 fw-bold fs-4 text-muted">{{ geomap[0] }} locations, from {{ begin.strftime('%x %X')[:-3] }} to {{ stop.strftime('%x %X')[:-3] }}</span>	
	<form method="POST" action="{{ url_for('geography.geography_map') }}" class="ms-5 text-muted">
	  <input type="hidden" name="start" value="{{ begin }}">
	  <input type="hidden" name="end" value="{{ stop }}">
	  <input type="hidden" name="existing_byIP" value="{{ byIP }}">
	  If map is not visible, try <a href="{{ url_for('home.settings', _anchor='Geography') }}">reducing map duration</a> 
	  {% if not nixtip %} 
	    or removing <button type="submit" class="btn btn-danger btn-sm my-2 fw-bold" value="nixtip" name="nixtip">Tooltips</button>
	  {% endif %}
	</form>	
    <div id="map" style="height:50vh;width:80%;margin:auto;"></div>
	<form method="POST" class="text-muted text-center" action="{{ url_for('geography.geography_map') }}">
	  <input type="hidden" name="start" value="{{ begin }}">
	  <input type="hidden" name="end" value="{{ stop }}">
	  Location marker size is scaled to {% if byIP %} its unique visitors. {% else %} its number of connections. {% endif %}
	  <button type="submit" class="btn btn-dark btn-sm fw-bold m-2" value="{{ not byIP }}" name="switch">
		{% if byIP %} Scale by Hits {% else %} Scale by IPs {% endif %}
	  </button>
	</form>	
	<hr />
	  <div style="max-height:30vh;overflow:scroll;width:100%;">
	    <table class="table table-sm table-responsive table-hover table-bordered table-striped-columns table-dark me-5 mt-3">
	      {{ geomap[2]|safe }}
	    </table>
	  </div>	  
  {% else %}
    <p class="text-danger fs-4 fw-bold text-center mt-5">No locations to map!</p>
  {% endif %}
{% endblock %}

{% block script_additions %}
  {% if geomap %}   
	<script>
	  {{ geomap[1]|safe }}
	</script>
  {% endif %}  
{% endblock %}