{% extends "base.html" %}
{% block title %}fail2ban Jail not found{% endblock %}
{% block content %}
    <h1>fail2ban - Jail.Local</h1>
	    <div class="alert alert-{{ message[1] }} alert-dismissible fade show" role="alert">
		  {{ message[0] }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<form method="POST" action="{{ url_for('home.configure_jail') }}" id="configure_jail" class="ms-3">	
		  <label for="jailLocation" class="form-label fs-5 fw-bold">Update or delete location of jail.local</label>
		  <input class="form-control" type="text" id="jailLocation" name="Location" value="{{ jail[0] }}">
		  <div id="HelpBlock" class="form-text">
			File will be read to determine fail2ban settings.
		  </div>		
		  <input type="submit" class="btn btn-dark mt-2 fw-bold"  name="set_jail" value="Set Jail">
		  <input type="submit" class="btn btn-danger mt-2 fw-bold" style="float:right" name="delete_jail" value="Delete Jail">
		</form>
			<br /><br /><hr />
	

{% endblock %}